<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bun venit la Honka, <%= @user.name.titleize %></h1>
    <p>
      Pentru a confirma adresa de email, te rog fa <a href='<%= @url %>'>click aici </a>.
    </p>
    <p>Succes in continuare!</p>
  </body>
</html>