<% if @feed_items %>
<div class="special">
<div class="container1">
  <ol class="tweets container2" id="tweet_class">
    <%= render @feed_items %>
  </ol>
 </div>
    <%= will_paginate @feed_items %>
 </div>
  
<% end %>	